{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    <h1>{{ 'tags.new.title.label' | trans}}</h1>

    {{ include('tag/_form.html.twig') }}

    <a href="{{ path('tag_index') }}">back to list</a>
{% endblock %}
